<h3 class="mb-3 text-center">Autores</h3>
<hr>

<div class="dropdown d-flex justify-content-end mb-3">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Ordenar
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" (click)="ordenar('1','1')">Nombre</button></li>
    <li><button class="dropdown-item" (click)="ordenar('2','1')">Apellido</button></li>
    <li><button class="dropdown-item" (click)="ordenar('3','1')">Fecha de nacimiento</button></li>
    <li><hr class="dropdown-divider"></li>
    <li><button class="dropdown-item" (click)="ordenar(ordenarPor,'1')">Ascendente</button></li>
    <li><button class="dropdown-item" (click)="ordenar(ordenarPor,'2')">Descendente</button></li>
  </ul>

  
</div>

<div class="mb-3 bg-light" *ngFor="let autor of autores">
  <app-resultado-autor [autor]="autor"></app-resultado-autor>
</div>