
<div class="container-lg d-flex align-items-center justify-content-center flex-column">
  <div class="login bg-light rounded rounded-4 p-5 shadow">
    <h1 class="mb-5 text-center">Login</h1>

    <div class="alert alert-danger" *ngIf="loginIncorrecto">
      Email o contraseña incorrecta
    </div>
    
    <form (ngSubmit)="login()" [formGroup]="miFormulario">
      <!-- Email input -->
      <div class="mb-4">
        <label class="form-label" for="email">Email</label>
        <input type="email" 
               id="email" 
               class="form-control" 
               formControlName="email" 
               placeholder="john@email.com">
        <div class="form-text text-danger" 
             *ngIf=" miFormulario.controls['email'].touched &&
                     miFormulario.controls['email'].hasError('required') ||
                     miFormulario.controls['email'].hasError('minlength') || 
                     miFormulario.controls['email'].hasError('email') || 
                     miFormulario.controls['email'].hasError('pattern')">
          Email inválido
        </div>
      </div>

      <!-- Password input -->
      <div class="mb-4">
        <label class="form-label" for="password">Contraseña</label>
        <input type="password" 
               id="password" 
               class="form-control" 
               formControlName="password" 
               placeholder="Ingrese la contraseña">
        <div class="form-text text-danger"
             *ngIf="miFormulario.controls['password'].touched && 
                    miFormulario.controls['password'].hasError('required') || 
                    miFormulario.controls['password'].hasError('minlength') || 
                    miFormulario.controls['password'].hasError('hasNumber') || 
                    miFormulario.controls['password'].hasError('hasUppercaseLetter') || 
                    miFormulario.controls['password'].hasError('hasLowercaseLetter') || 
                    miFormulario.controls['password'].hasError('hasSpecialCharacter')">
          Contraseña inválida
        </div>
      </div>

      <!-- Botón de ingresar -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary mb-4">Ingresar</button>
      </div>

      <!-- Botón de registrarse -->
      <div class="text-center">
        <p>¿No tiene una cuenta? <a routerLink="/auth/registro">Registrarse</a></p>
      </div>
    </form>
  </div>
</div>