<h3 class="mb-3">Buscar libro por autor</h3>

<!-- Barra de búsqueda -->
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input type="text" 
             class="form-control" 
             name="termino" 
             [(ngModel)]="termino" 
             placeholder="Buscar libro...">
    </form>
  </div>
</div>

<hr>

<!-- Mensaje de error en caso de que no se encuentre un libro -->
<div *ngIf="hayError && termino.length > 0" class="alert alert-danger mt-4">
  No se encontró el libro buscado
</div>

<!-- Libro/s encontrados -->
<div *ngIf="libros.length > 0" class="row gap-5 mt-5">
  <div class="col d-flex justify-content-center animate__animated animate__fadeIn" 
       *ngFor="let libro of libros">
    <div class="book">
      <a [routerLink]="['/libro', libro.id]">
        <ul>
          <li class="page page3"></li>
          <li class="page page2"></li>
          <li class="page page1"></li>
          <li class="cover">
            <img [src]="libro.sourcePortada" class="card-img-top">
          </li>
        </ul>
      </a>
    </div>
  </div>
</div>