<div class="container-lg d-flex align-items-center justify-content-center flex-column">
  <div class="registro bg-light rounded rounded-4 p-5 shadow">
    <h1 class="mb-5 text-center">Registro</h1>

    <div class="alert alert-success" *ngIf="registroExitoso">
      ¡Registro exitoso!
      <a routerLink="./auth/login" class="text-success bold">Ingresar</a>
    </div>

    <form (ngSubmit)="register()" [formGroup]="miFormulario">
      <!-- Email input -->
      <div class="mb-4">
        <label class="form-label" for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="john@email.com">

        <!-- Mensaje de error de validación -->
          <div class="form-text"
                [ngClass]="miFormulario.controls['email'].hasError('required') || 
                           miFormulario.controls['email'].hasError('pattern') ? 'text-danger' : 'text-success'">
            Debe ser un email válido.
          </div>
      </div>
    
      <!-- Password input -->
      <div class="mb-4">
        <label class="form-label" for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Ingrese la contraseña">

        <!-- Mensajes de errores de validacion -->
          <div class="form-text"
                [ngClass]="miFormulario.controls['password'].hasError('required') || 
                           miFormulario.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
            Debe tener al menos <strong>8 carácteres</strong>.
          </div>
          <div class="form-text"
                [ngClass]="miFormulario.controls['password'].hasError('required') || 
                           miFormulario.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
            Debe contener al menos <strong>1 número</strong>.
          </div>
          <div class="form-text"
                [ngClass]="miFormulario.controls['password'].hasError('required') || 
                           miFormulario.controls['password'].hasError('hasUppercaseLetter') ? 'text-danger' : 'text-success'">
            Debe contener al menos <strong>1 mayúscula</strong>.
          </div>
          <div class="form-text"
                [ngClass]="miFormulario.controls['password'].hasError('required') || 
                           miFormulario.controls['password'].hasError('hasLowercaseLetter') ? 'text-danger' : 'text-success'">
            Debe contener al menos <strong>1 minúscula</strong>.
          </div>
          <div class="form-text"
                [ngClass]="miFormulario.controls['password'].hasError('required') || 
                           miFormulario.controls['password'].hasError('hasSpecialCharacter') ? 'text-danger' : 'text-success'">
            Debe contener al menos <strong>1 carácter especial</strong>.
          </div>
      </div>
    
      <!-- Botón de ingresar -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary mb-4">Registrarse</button>
      </div>
    
      <!-- Botón de registrarse -->
      <div class="text-center">
        <p>¿Ya tienes una cuenta? <a routerLink="/auth/login">Ingresar</a></p>
      </div>
    </form>
  </div>

  <!-- Testing -->
  <!-- Touched: el usuario ha tocado o no el formulario (no hace falta hacer cambios, solo con clickearlo esto se vuelve true) -->
  <!-- Pristine: no se han cambiado ninguno de los valores con los que se presentó el formulario -->

  <!-- <span><b>Valid</b></span>
  <pre>{{miFormulario.valid}}</pre>

  <span><b>Pristine</b></span>
  <pre>{{miFormulario.pristine}}</pre>

  <span><b>Touched</b></span>
  <pre>{{miFormulario.touched}}</pre>

  <span><b>Value</b></span>
  <pre>{{miFormulario.value | json}}</pre> -->
</div>