<div class="row gap-4 animate__animated animate__fadeInDown">
  <div class="col d-flex justify-content-center" *ngFor="let libro of libros">
    <div class="book">
      <a [routerLink]="['/libro', libro.id]">
        <ul>
          <li class="page page3"></li>
          <li class="page page2"></li>
          <li class="page page1"></li>
          <li class="cover">
            <img [src]="libro.sourcePortada" class="card-img-top">
          </li>
        </ul>
      </a>
    </div>
  </div>
</div>

