.bold {
  font-weight: 500;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* EMPIEZA: Animación de libro semi-abierto */
.book {
  display: block;
  float: left;
  width: 200px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-image: #333;
  transform: translate3d(0, 0, 0);
}

.book ul {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0px;
  padding: 0;
  list-style: none;
  perspective-origin: 0 50% 0;
  perspective: 800px;
  /* -webkit-transform: translate3d(0, 0, 0); */
}

.book ul>li {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(124, 124, 124, 1) 95%, rgba(255, 255, 255, 1) 99%);
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all .5s cubic-bezier(0.25, 1, .25, 1);
}

.cover {
  z-index: 2 !important;
  display: block;
  width: 200px;
  height: 300px;
  transform: rotateY(0deg) translateZ(0px);
}

.page1 {
  display: none;
  transform: rotateY(20deg) translateZ(-1px);
}

.page2 {
  display: none;
  transform: rotateY(30deg) translateZ(-2px);
}

.page3 {
  display: none;
  transform: rotateY(40deg) translateZ(-3px);
}

.book:hover .page1 {
  transform: rotateY(-34deg);
}

.book:hover .page2 {
  transform: rotateY(-27deg);
}

.book:hover .page3 {
  transform: rotateY(-15deg);
}

.book:hover .cover {
  transform: rotateY(-40deg);
}

/* FIN: Animación de libro semi-abierto */