.librosDelAutor .row {
  background-color: hsl(0, 0%, 94%)
}

@media (max-width: 575px) {
  .librosDelAutor img {
    height: 300px;
    margin-bottom: 1.8rem;
  }

  .librosDelAutor {
    text-align: center;
  }
}