<h3 class="mb-3">Buscar autor por nombre o apellido</h3>

<!-- Barra de búsqueda -->
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input type="text" 
             class="form-control" 
             name="termino" 
             [(ngModel)]="termino" 
             placeholder="Buscar autor...">
    </form>
  </div>
</div>

<hr>

<!-- Mensaje de error en caso de que no se encuentre un libro -->
<div *ngIf="hayError && termino.length > 0" class="alert alert-danger mt-4">
  No existe un autor con ese nombre o apellido
</div>

<!-- Resultados -->
<div class="mb-3 bg-light" *ngFor="let autor of autores">
  <app-resultado-autor [autor]="autor"></app-resultado-autor>
</div>